@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Tektur", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: default;
}

:root {
    --primary-color: #000000;
    --secondary-color: #15191b;
    --tertiary-color: #aaafb1;
    --Quaternary-color: #ffffff;
    --Quinary-color: #f3af36;
}

/* Header Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: transparent;
    position: relative;
    z-index: 1000;
}

.navbar-logo img {
    width: 120px;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.navbar-links ul li {
    position: relative;
}

.navbar-links ul li a {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

.navbar-links ul li a:hover {
    color: var(--Quinary-color);
}

.btn-1 {
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    background-color: var(--Quaternary-color);
    color: var(--primary-color);
    padding: 20px 60px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn-1:hover {
    background: var(--Quaternary-color);
    color: var(--primary-color);
}

.btn-1 span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn-1 .default-text {
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.btn-1 .hover-text {
    top: 100%;
    opacity: 0;
}

.btn-1:hover .default-text {
    transform: translate(-50%, -100%);
    opacity: 0;
}

.btn-1:hover .hover-text {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.menu-toggle {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3000;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 4px;
    background: var(--tertiary-color);
    border-radius: 2px;
    transition: 0.3s;
    margin: 2px 0;
}

/* Sidebar Section */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active {
    right: 0;
}

.sidebar .close-btn {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    flex-grow: 1;
    cursor: pointer;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

.sidebar ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: var(--Quinary-color);
}

.sidebar .contact-button {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.navbar-links {
    display: none;
    cursor: pointer;
}

.navbar-contact-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .sidebar {
        width: 250px;
    }

    .navbar-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

@media (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }

    .navbar-links {
        display: flex;
    }
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 85vh;
    margin: 0px 40px;
    border-radius: 20px;
    background-color: var(--Quaternary-color);
    padding: 50px;
}

.hero-content {
    text-align: left;
    max-width: 600px;
}

.hero-content p.header-text {
    font-size: 14px;
    padding: 5px;
    border: 1.5px solid var(--Quinary-color);
    color: var(--primary-color);
    border-radius: 5px;
    display: inline-block;
}

.hero-content h2 {
    font-size: 38px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.hero-content h2 span {
    color: var(--Quinary-color);
}

.hero-content h1 {
    color: var(--tertiary-color);
}

.hero-content h1.changing-word {
    font-size: 36px;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.hero-content h1 span {
    color: var(--Quinary-color);
}

.hero-content p {
    margin-bottom: 20px;
    max-width: 550px;
    color: var(--primary-color);
}

.hero-content p span {
    color: var(--Quinary-color);
}

#changing-word::after {
    content: '|';
    font-weight: 100;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-section-buttons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.btn-2 {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--Quaternary-color);
    padding: 20px 60px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.btn-2:hover {
    background: var(--primary-color);
    color: var(--Quinary-color);
}

.btn-2 span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn-2 .default-text {
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.btn-2 .hover-text {
    top: 100%;
    opacity: 0;
}

.btn-2:hover .default-text {
    transform: translate(-50%, -100%);
    opacity: 0;
}

.btn-2:hover .hover-text {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.hero-image img {
    max-width: 100%;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
}

/* About Section */
.agency-section {
    padding: 50px;
}

.agency-container {
    max-width: 1200px;
    margin: 0 auto;
}

.agency-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.image-area img {
    width: 400px;
    height: auto;
    display: block;
}

.text-area {
    flex: 1;
    min-width: 280px;
}

.text-area h2 {
    font-size: 32px;
    color: var(--Quaternary-color);
    margin-bottom: 10px;
    text-align: left;
}

.text-area h2:hover {
    text-shadow: 1px 1px 0 var(--Quinary-color), -1px -1px 0 var(--Quinary-color), 1px -1px 0 var(--Quinary-color), -1px 1px 0 var(--Quinary-color);
}

.text-area .line {
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, #ffffff, #f3af36);
    border-radius: 2px;
    margin-bottom: 20px;
}

.text-area p {
    color: var(--tertiary-color);
    line-height: 1.6;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-item {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    min-width: 120px;
    max-height: 100px;
}

.stat-item h3 {
    font-size: 32px;
    color: var(--tertiary-color);
}

.stat-item p {
    color: var(--Quinary-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .stats {
        justify-content: center;
    }
}

/* Feature Section */
.features-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 40px;
}

.features-left {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.features-left h2 {
    font-size: 32px;
    color: var(--Quaternary-color);
    margin-bottom: 10px;
}

.features-left h2:hover {
    text-shadow: 1px 1px 0 var(--Quinary-color), -1px -1px 0 var(--Quinary-color), 1px -1px 0 var(--Quinary-color), -1px 1px 0 var(--Quinary-color);
}

.features-left .line {
    width: 120px;
    height: 4px;
    background: linear-gradient(to right, #ffffff, #f3af36);
    border-radius: 2px;
    margin-bottom: 20px;
}

.features-left p {
    font-size: 18px;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.features-grid {
    flex: 3 1 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card {
    background-color: var(--Quaternary-color);
    padding: 30px 20px;
    border-radius: 50px 10px 50px 10px;
    position: relative;
    text-align: left;
}

.feature-card::before,
.feature-card::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid var(--Quinary-color);
}

.feature-card::before {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 10px;
}

.feature-card::after {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 10px;
}

.icon-box {
    width: 50px;
    height: 50px;
    background-color: var(--Quinary-color);
    color: var(--Quaternary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--secondary-color);
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.feature-card p {
    font-size: 14px;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.feature-card a {
    font-weight: 600;
    font-size: 14px;
    color: var(--Quinary-color);
    text-decoration: none;
}

.feature-card a i {
    margin-left: 6px;
}

/* Footer Section*/
.footer {
    background: var(--Quaternary-color);
    color: var(--primary-color);
    padding: 20px 50px 20px 50px;
    position: relative;
    border-radius: 20px 20px 0 0;
    z-index: 1;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.footer-about {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 400px;
}

.footer-about img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-about p {
    color: var(--primary-color);
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
}

.footer-column ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: var(--Quinary-color);
}

.social-icons i {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--tertiary-color);
}

.social-icons i:hover {
    color: var(--Quinary-color);
}

.footer-bottom {
    text-align: center;
    padding: 20px 10px 10px;
    font-size: 13px;
}

.footer-bottom hr {
    margin-bottom: 5px;
}

.footer-bottom p {
    color: var(--Quinary-color);
}